

      html {
        height: 100%;
        width: 100%;
      }

      body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

      

      .web1920Cadastro {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      overflow-x: auto;
      overflow-y: auto;
      background-color: rgba(255, 255, 255, 1);
      width: auto;
    height: auto;
    left: 0px;
    top: 0px;

}

.web1920Cadastro .caminho4 {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 546.00px;
    height: 30.00px;
    left: 974.00px;
    top: 601.00px;

}

.web1920Cadastro .retangulo32 {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: solid;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: solid;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: solid;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: solid;
      border-top-width: 1.00px;
      border-top-left-radius: 25.00px;
      border-top-right-radius: 25.00px;
      border-bottom-left-radius: 25.00px;
      border-bottom-right-radius: 25.00px;
      box-shadow: none;
      width: 120.00px;
    height: 30.00px;
    left: 809.00px;
    top: 601.00px;

}

.web1920Cadastro .digiteONomeCompleto {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
      width: 479.00px;
    height: 30.00px;
    left: 56.00px;
    top: 303.00px;


}

.web1920Cadastro .informeSeusDadosPessoais {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 316.00px;
    height: 33.00px;
    left: 58.00px;
    top: 223.00px;

}

.web1920Cadastro .numCNH {
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
      width: 291.00px;
    height: 30.00px;
    left: 58.00px;
    top: 446.00px;


}

.web1920Cadastro .cpfPassaporte {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 142.00px;
    height: 27.00px;
    left: 604.00px;
    top: 265.00px;

}

.web1920Cadastro .nome {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 54.00px;
    height: 27.00px;
    left: 80.00px;
    top: 265.00px;

}

.web1920Cadastro .cadastroDoLocatario {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 30.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 309.00px;
    height: 40.00px;
    left: 46.00px;
    top: 175.00px;

}

.web1920Cadastro .digiteUmEnderecoDeEMailValido {
  
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
  width: 340.00px;
  height: 30.00px;
  left: 1180.00px;
  top: 303.00px;

}

.web1920Cadastro .eMail {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 55.00px;
    height: 27.00px;
    left: 1206.00px;
    top: 265.00px;

}

.web1920Cadastro .telCel { 
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
  width: 268.00px;
  height: 30.00px;
  left: 867.00px;
  top: 303.00px;
}

.web1920Cadastro .telefoneOuCelular {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 169.00px;
    height: 27.00px;
    left: 886.00px;
    top: 265.00px;

}

.web1920Cadastro .categoriaHabilitada {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 180.00px;
    height: 27.00px;
    left: 417.00px;
    top: 408.00px;

}

.web1920Cadastro .informeSeusDadosDaCarteiraNacionalDeHabilitacao {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 612.00px;
    height: 33.00px;
    left: 58.00px;
    top: 366.00px;

}

.web1920Cadastro .validade {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 75.00px;
    height: 27.00px;
    left: 704.00px;
    top: 408.00px;

}

.web1920Cadastro .locarLogoTransparente {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/locarLogoTransparente.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 327.00px;
    height: 130.00px;
    left: 637.00px;
    top: 33.00px;

}

.web1920Cadastro .numeroDeRegistroDaCnh {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 253.00px;
    height: 27.00px;
    left: 74.00px;
    top: 408.00px;

}

.web1920Cadastro .cpfPass {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
      width: 242.00px;
    height: 30.00px;
    left: 580.00px;
    top: 303.00px;


}

.web1920Cadastro .selecioneALetraDaCategoria {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;
  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  width: 242.00px;
  height: 30.00px;
  left: 394.00px;
  top: 446.00px;
  
}

.web1920Cadastro .validadeCNH {
  
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
      width: 174.00px;
    height: 30.00px;
    left: 681.00px;
    top: 446.00px;

}

.web1920Cadastro .informeSeuEndereco {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 241.00px;
    height: 33.00px;
    left: 56.00px;
    top: 509.00px;

}

.web1920Cadastro .cepDado {background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
      width: 189.00px;
    height: 30.00px;
    left: 58.00px;
    top: 591.00px;
}

.web1920Cadastro .cep {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 34.00px;
    height: 27.00px;
    left: 74.00px;
    top: 553.00px;

}

.web1920Cadastro .digiteONomeDaRua {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;
  width: 472.00px;
height: 30.00px;
left: 292.00px;
top: 591.00px;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;

}

.web1920Cadastro .rua {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 33.00px;
    height: 27.00px;
    left: 322.00px;
    top: 553.00px;

}

.web1920Cadastro .numEnd {
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 25.00px;
    border-top-right-radius: 25.00px;
    border-bottom-left-radius: 25.00px;
    border-bottom-right-radius: 25.00px;
    box-shadow: none;
    width: 120.00px;
  height: 30.00px;
  left: 809.00px;
  top: 591.00px;

    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      text-align: center;
      letter-spacing: 0.00px;
      color: rgba(112, 112, 112, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 15.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;

}

.web1920Cadastro .numero {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 73.00px;
    height: 27.00px;
    left: 836.00px;
    top: 553.00px;

}

.web1920Cadastro .digiteONomeDoBairro {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;
  width: 546.00px;
height: 30.00px;
left: 974.00px;
top: 591.00px;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;

}

.web1920Cadastro .bairro {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 52.00px;
    height: 27.00px;
    left: 1014.00px;
    top: 553.00px;

}

.web1920Cadastro .opcional {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;
  width: 397.00px;
  height: 30.00px;
  left: 56.00px;
  top: 682.00px;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;

}

.web1920Cadastro .complemento {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 126.00px;
    height: 27.00px;
    left: 76.00px;
    top: 644.00px;

}

.web1920Cadastro .digiteONomeDaCidade {
  
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
  width: 340.00px;
  height: 30.00px;
  left: 498.00px;
  top: 682.00px;
}

.web1920Cadastro .cidade {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 61.00px;
    height: 27.00px;
    left: 519.00px;
    top: 644.00px;

}

.web1920Cadastro .digiteONomeDoEstado {
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
  
  width: 281.00px;
  height: 30.00px;
  left: 883.00px;
  top: 682.00px;
}

.web1920Cadastro .estado {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 59.00px;
    height: 27.00px;
    left: 909.00px;
    top: 644.00px;

}

.web1920Cadastro .pais {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 34.00px;
    height: 27.00px;
    left: 1233.00px;
    top: 644.00px;

}

.web1920Cadastro .digiteONomeDoPais {
  
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 25.00px;
  border-top-right-radius: 25.00px;
  border-bottom-left-radius: 25.00px;
  border-bottom-right-radius: 25.00px;
  box-shadow: none;

  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    text-align: left;
    padding-inline-start: 15px;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
  
  width: 311.00px;
  height: 30.00px;
  left: 1209.00px;
  top: 682.00px;
}

.web1920Cadastro .cadastrarSe {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 179.00px;
    height: 46.00px;
    left: 1354.00px;top: 728.00px;

}

